@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-padding-top: 2rem;
    text-decoration: none;
    list-style: none;
    scroll-behavior: smooth;
    font-family: 'Poppins', sans-serif;
}
:root{
    --main-color:#008148;
    --second-color:#1e3932;
}
/* section{
    padding: 109px 10%;
} */
body, html {
    overflow-x: hidden;
}


img{
    width: 100%;
}
.header{
    position: fixed;
    width: 100%;
    top: 0;
    right: 0;
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #fff;
    box-shadow: 0 4px 41px rgb(14 55 54 / 14%);
    /* padding: 15px 10%; */
    transition: 0.2s;
}
.video1 {
    margin-left: 8px;
    margin-bottom: 7px;
    width: 55px;
}
.logo{
    display: flex;
    align-items: center;
    margin-right: auto;
    margin-left: 3px;
    opacity: 100%;
}
.logo img{
    width: 180px;
    
}
.logo img:hover{
    
    opacity: 90%;
}
.navbar{
    display: flex;
    margin-right: 10%;
}
.navbar a{
    font-size: 1rem;
    padding: 11px 20px;
    color: var(--second-color);
    font-weight: 600;
    text-transform: uppercase;
}
.navbar a:hover{
    color: orangered;
}
#menu-icon{
    font-size: 24px;
    cursor: pointer;
    z-index: 1001;
    display: none;
}
.container{
    height: 100vh;
    width: 100%;
    /* width: 2400px; */
    margin-top: 109px;
    padding: 109px 10%;
    display: flex;
    align-items: center;
    background: #ebdbc8;
    /* gap: 1rem; */
}
.videosplash{
    position: absolute;
    z-index: 2;
    /* margin-left: 20%; */
    /* margin-bottom: 10%; */
    width: 1720px;
}
.describe{
    position: absolute; /* Position the text absolutely within the container */
    top: 50%; /* Position it 50% from the top */
    left: 33%; /* Position it 50% from the left */
    transform: translate(-50%, -50%); 
    z-index: 1; /* Place the text above the video (higher z-index) */
     /* Add padding for readability */
    margin-top: 60px;
    /* margin-bottom: 5%; */
}
.bold-describe{
    font-size: 65px;
    margin-top: 200px;
    margin-bottom: 35px;
}
.small-describe{
    font-size: 20px;
}


/* Ingredients */

.ingredients-container{
    display: grid;
    grid-template-columns: 1fr 2fr;
    height: 100vh;
    width: 100%;
    padding: 109px 10%;
    align-items: center;
    background: #ffb6b6;
    
}
.img-container{
    width: 400px;
    margin-top: 60px;
}
.image1{
    width: 100%;
    margin-left: 210px;
    
}
.content{
    /* display: grid; */
    grid-template-columns: auto 1fr;
    margin-left: 310px;
    margin-top: 90px;
}
.content h1{
    font-size: 60px;
    margin-bottom: 70px;
    position: relative;
    z-index: 2;
}
.ingredients li a{
    
    color: #000;
    font-size: 35px;
    font-weight: 500;
}
.ingredients li ul li a{
    font-size: 20px;
}
.ingredients .dropdown {
    display: none;
    position: absolute;
    background-color: rgba(0, 0, 0, 0.3);
    border-radius: 15px;
    margin-left: 10px;
    border: 1px solid #000000;
    padding-left: 7px;
    padding-right: 7px;
    z-index: 1;
}

/* Show the dropdown when hovering over the parent <li> */
.ingredients li:hover .dropdown {
    display: block;
}

/* Style the dropdown links */
.ingredients .dropdown a {
    display: block;
    color: #333;
    text-decoration: none;
    padding: 5px 0;
}

/* Style the dropdown links on hover */
.ingredients .dropdown a:hover {
    box-shadow: #000;
}

/* Add space below the dropdown when it's displayed */
.ingredients li:hover + .other-menu {
    margin-top: 135px; /* Adjust the margin as needed */
}
.ingredients li:hover + .other-menu1 {
    margin-top: 155px; /* Adjust the margin as needed */
}
.ingredients li:hover + .other-menu2 {
    margin-top: 40px; /* Adjust the margin as needed */
}
.ingredients li:hover + .other-menu3 {
    margin-top: 65px; /* Adjust the margin as needed */
}


/* Footer */
.container-footer{
	max-width: 1170px;
	margin:auto;
}
.row{
	display: flex;
	flex-wrap: wrap;
}
ul{
	list-style: none;
}
.footer{
	background-color: #d9e4ff;
    padding: 70px 0;
}
.footer-col{
   width: 25%;
   padding: 0 15px;
}
.footer-col h4{
	font-size: 18px;
	color: black;
	text-transform: capitalize;
	margin-bottom: 35px;
	font-weight: 500;
	position: relative;
}
.footer-col h4::before{
	content: '';
	position: absolute;
	left:0;
	bottom: -10px;
	background-color: #e91e63;
	height: 2px;
	box-sizing: border-box;
	width: 50px;
}
.footer-col ul li:not(:last-child){
	margin-bottom: 10px;
}
.footer-col ul li a{
	font-size: 16px;
	text-transform: capitalize;
	color: black;
	text-decoration: none;
	font-weight: 300;
	color:black;
	display: block;
	transition: all 0.3s ease;
}
.footer-col ul li a:hover{
	color: #000000;
	padding-left: 8px;
}
.footer-col .social-links a{
	display: inline-block;
	height: 40px;
	width: 40px;
	background-color: rgba(29, 25, 25, 0.2);
	margin:0 10px 10px 0;
	text-align: center;
	line-height: 40px;
	border-radius: 50%;
	color: #ffffff;
	transition: all 0.5s ease;
}
.footer-col .social-links a:hover{
	color: #24262b;
	background-color: #ffffff;
}

/*responsive*/
@media(max-width: 767px){
  .footer-col{
    width: 50%;
    margin-bottom: 30px;
}
}
@media(max-width: 574px){
  .footer-col{
    width: 100%;
}
}